<%- include("../layouts/admin/layout.ejs"); -%>
<%- include("../partials/admin/header.ejs"); -%>
<h1>Recently Changes</h1>
<%- include("../admin/pages/display_pages.ejs"); -%>
<%- include("../admin/categories/display_categories.ejs"); -%>
<h1>bugs cannot display category</h1>
<div>
    <%if (locals.products != null) {%>
        <%products.forEach(product => {%>
            <img height="150" width="100" src="<%=product.coverImagePath%>">
        <%})%>
    <%}%>
</div>

<%- include("../partials/admin/footer.ejs"); -%>