<%- include("../layouts/admin/layout.ejs"); -%>
<%- include("../partials/admin/header.ejs"); -%>
<h1>Recently Changes</h1>
<%- include("../admin/pages/display_pages.ejs"); -%>
<%- include("../admin/categories/display_categories.ejs"); -%>
<div>
    <%if (locals.products != null) {%>
        <%products.forEach(product => {%>
            <a href="/admin/products/view_product/<%=product.id%>">
                <img height="150" width="100" src="<%=product.coverImagePath%>">
            </a>
        <%})%>
    <%}%>
</div>

<%- include("../partials/admin/footer.ejs"); -%>