<%- include("../../layouts/admin/layout.ejs"); -%>
<%- include("../../partials/admin/header.ejs"); -%>
<h1>Search Categories</h1>
<label>Category</label>
<form action="/admin/categories" method="get">
    <input type="text" name="category" value="<%=searchOptions.category%>" placeholder="Category">
    <button type="submit">Search</button>
</form>
<a href="/admin/categories/add_category">Add a New Category</a>
<br>
<br>

<div>
    <%- include("../../partials/errorMessage.ejs"); -%>
</div>

<br>
<%- include("../../admin/categories/display_categories.ejs"); -%>
<%- include("../../partials/admin/footer.ejs"); -%>