<%- include("../layouts/user/layout.ejs"); -%>
<%- include("../partials/user/header.ejs"); -%>
<br><br>
<br><br>
<%-content%>
<br><br>
<br><br>
<div class="category">
    <span>All Categories</span>
    <div class="dropdown-category">
        <li><a href="/products">All Products</a></li>
        <%categories.forEach(category => {%>
            <li><a href="/products/<%=category.slug%>"><%=category.category%></a></li>
        <%})%>
    </div>
</div>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<%- include("../partials/user/footer.ejs"); -%>
