<div>
    <label>Product</label>
    <input type="text" name="product" placeholder="Product" value="<%=products.product%>">
</div>

<div>
    <label>Category</label>
    <select class="product_category" name = "category">
        <%categories.forEach(category => {%>
            <%if (category.id === products.category) {%>
                <option class="category_name" selected label="<%=category.category%>" value="<%=category.id%>">
            <%}else {%>
                <option class="category_name" label="<%=category.category%>" value="<%=category.id%>">
                <%}%>
        <%})%>
    </select>
</div>

<div>
    <label>Price</label>
    <input type="number" name="price" placeholder="Price" min="1" value="<%=products.price%>">
</div>

<div>
    <label>Image</label>
    <input type="file" name="cover" class="filepond">
</div>

<div>
    <label>Description</label>
    <textarea name="description" placeholder="Description"><%=products.description%></textarea>
</div>
